main {
  .welcome {
    background-image: url("./assets/Header.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    border-radius: 0 0 0 200px;
  }
}

@import "node_modules/bootstrap/scss/bootstrap.scss";