main {
  .welcome {
    background-image: url("/assets/Header.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 10000px;
  }
}

@import "node_modules/bootstrap/scss/bootstrap.scss";